.primary-button {
    background-color: #0f5fa0;
    color: white;
    padding: 12px;
    justify-content: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .primary-button:hover {
    background-color: #3182ce;
  }
  